.background {
  height: 740px;
  width: 102%;
  background-image: url("pink.jpeg");
  margin: 0 0 0 -14px;
}
.background a {
  text-decoration: none;
  color: black;
}
.background .shop {
  background-image: url("shop2.png");
  background-size: contain;
  position: absolute;
  margin: 2% 0 0 2%;
  height: 428px;
  width: 510px;
  box-shadow: 0px 17px 38px 5px rgba(0, 0, 0, 0.31);
  border-radius: 40px;
  border: 3px solid black;
}
.background .about {
  background-image: url("shirt.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 200px;
  position: absolute;
  margin: 2% 0 0 40%;
  height: 200px;
  width: 400px;
  box-shadow: 0px 17px 38px 5px rgba(0, 0, 0, 0.31);
  border-radius: 40px;
  border: 3px solid black;
}
.background .about a {
  margin-left: 60%;
}
.background .help {
  background-color: white;
  background-image: url("card.png");
  background-size: 200px;
  background-repeat: no-repeat;
  position: absolute;
  margin: 2% 0 0 70%;
  height: 200px;
  width: 400px;
  box-shadow: 0px 17px 38px 5px rgba(0, 0, 0, 0.31);
  border-radius: 40px;
  border: 3px solid black;
}
.background .help a {
  margin-left: 60%;
}
.background .random1 {
  background-image: url("jewel.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-color: white;
  position: absolute;
  margin: 18% 0 0 70%;
  height: 200px;
  width: 400px;
  box-shadow: 0px 17px 38px 5px rgba(0, 0, 0, 0.31);
  border-radius: 40px;
  z-index: 1;
  border: 3px solid black;
}
.background .random1 a {
  margin-left: 60%;
}
.background .random2 {
  background-image: url("monitor.png");
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin: 18% 0 0 40%;
  height: 200px;
  width: 400px;
  box-shadow: 0px 17px 38px 5px rgba(0, 0, 0, 0.31);
  border-radius: 40px;
  border: 3px solid black;
}
.background .random2 a {
  margin-left: 60%;
}
.background .random3 {
  background-image: url("mail.png");
  background-size: 280px;
  background-repeat: no-repeat;
  background-color: white;
  position: absolute;
  margin: 34% 0 0 40%;
  height: 200px;
  width: 400px;
  box-shadow: 0px 17px 38px 5px rgba(0, 0, 0, 0.31);
  border-radius: 40px;
  border: 3px solid black;
}
.background .random3 a {
  margin-left: 60%;
}
.background .random4 {
  background-image: url("cart.png");
  background-size: 240px;
  background-repeat: no-repeat;
  background-color: white;
  position: absolute;
  margin: 34% 0 0 70%;
  height: 200px;
  width: 400px;
  box-shadow: 0px 17px 38px 5px rgba(0, 0, 0, 0.31);
  border-radius: 40px;
  border: 3px solid black;
}
.background .random4 a {
  margin-left: 40%;
}
.background .random5 {
  background-image: url("me.png");
  background-size: 160px;
  background-repeat: no-repeat;
  background-color: white;
  position: absolute;
  margin: 34% 0 0 2%;
  height: 200px;
  width: 510px;
  box-shadow: 0px 17px 38px 5px rgba(0, 0, 0, 0.31);
  border-radius: 40px;
  border: 3px solid black;
}
.background .random5 a {
  margin-left: 20%;
}

.mainWrapper {
  background-image: url("pink.jpeg");
}/*# sourceMappingURL=Home.css.map */